<%- include('partials/header');  %>
<%- include('partials/main_nav');  %>

<div class="p-5 m-5 bg-light rounded-3" >
  <div class="container-fluid p-5 row">
    <div class="col-5">
      <img src="../../Assets/images/tree.JPG" alt="intro pic" class="introPic rounded-3">
    </div>
    <div class="col-7 fs-4" align="center">
      <h1 class="display-5 fw-bold " align="center">Welcome to <%= title %></h1>
      <div>Discover the Genius of Shopping!</div>
      <div class="list-group col-4 mt-3">
        <a href="/product" class="btn btn-light rounded-5" style="background-color: #f9c9cb;">&nbsp; Shop Now!</a>
      </div>
    </div>
  </div>

  <!-- <div class="list-group col-md-2">
    <a href="/about" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-regular fa-address-card"></i>&nbsp; About Me</a>
    <a href="/projects" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-solid fa-list-check"></i>&nbsp; Projects</a>
    <a href="/services" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-brands fa-servicestack"></i>&nbsp; Services</a>
    <a href="/contact-list" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-regular fa-address-book"></i>&nbsp; Biz-Contact</a>
    <a href="/contact" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-regular fa-paper-plane"></i>&nbsp; Contact</a>
  </div> -->


</div>

<%- include('partials/bottom_nav');  %>

<%- include('partials/footer');  %>