<%- include('partials/header.ejs'); %>
<%- include('partials/main_nav.ejs'); %>

<div class="p-5 m-5 bg-light rounded-3" >
  <div class="container-fluid p-5 row">
    <h1><%= title %></h1>
    <p>All the selling products display here!</p>
    <% if (typeof displayName == 'string' && displayName) { %>
      <a href="/product/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"> Add a product</i>
      </a>
    <% } %>
    <div class="d-flex flex-wrap justify-content-center">
      <!-- import projects content from routes-->
      <% for (let count = 0; count < ProductList.length; count++){ %>
        <div class="col-sm-4 card shadow rounded-4 border-0 m-3 p-2" style="min-width: 300px;"> <!--cards with border start here-->
          <div class="card-body p-0 m-2 align-items-center">
            <div class="d-flex align-items-center" style="min-height: 180px;">
              <div>
                Brand: <%= ProductList[count].brand %><br>
                Model: <%= ProductList[count].model %><br>
                Year: <%= ProductList[count].year %><br>
                Trim: <%= ProductList[count].trim %><br>
                Color: <%= ProductList[count].color %><br>
                Price: <%= ProductList[count].price %><br>

              </div>
            </div>
              <div>
                <a href="/product/update/<%= ProductList[count]._id %>" class="btn btn-light rounded-5 px-5 m-1" style="background-color: #f9c9cb;">Update</a>
                <a href="/product/delete/<%= ProductList[count]._id %>" class="btn btn-light rounded-5 px-5 m-1" style="background-color: #f9c9cb;">Delete</a>
              </div>
            
          </div>
        </div>
      <% }; %>
    </div>
  </div>
</div>




<%- include('partials/bottom_nav.ejs'); %>

<%- include('partials/footer.ejs'); %>